.details {
  width: 80%;
  margin: auto;
  display: flex;
  gap: 100px;
  margin-top: 150px;
  margin-bottom: 150px;
}

.d-right h4 {
  padding-top: 10px;
}

.d-button {
  margin: 70px;
  margin-left: 100px;
}

.d-button button {
  width: 250px;
  height: 40px;
  border: none;
  margin: 20px;
  border-radius: 50px;
  background-color: #ffd814;
}

.d-button button:nth-child(2) {
  background-color: #ffa41c;
}
