header {
  top: 0;
  z-index: 2;
  width: 100%;
  width: 100%;
  height: 60px;
  color: white;
  position: fixed;
  background-color: #131921;
}

header nav {
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 4;
}

header nav .navlogo img {
  width: 102px;
  margin-top: 8px;
}

.navlogo:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

header nav .left {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 0 20px;
  align-items: center;
  flex: 0.7;
}

.location {
  margin-top: 5px;
  font-size: small;
}

.location h6 {
  font-size: small;
}

header nav .left input {
  width: 450px;
  height: 38px;
  border: none;
  outline: none;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  font-size: 14px;
  padding-left: 10px;
}

header nav .left .search_icon {
  background-color: #febd69;
  height: 38px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
}

header nav .nav_searchbaar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-btn,
.r-and-o {
  color: white;
  font-size: small;
  margin-top: 5px;
}

.sign-in-btn:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

header nav .right {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.3;
}

header nav .right .nav_btn {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-right: 2px;
  border-radius: 2px;
  padding: 8px;
}

header nav .right .cart_btn {
  display: flex;
  margin-left: 22px;
  cursor: pointer;
  margin-top: 2px;
  border-radius: 2px;
  align-items: center;
  font-size: 2rem;
}

.cart_btn:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 1s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

header nav .right .cart_btn #icon {
  margin-right: 10px;
  color: #fff;
  margin-top: 2px;
}

header nav .right .cart_btn p {
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  margin-top: 25px;
  margin-right: 10px;
}
.right {
  height: 100%;
}

.right a {
  text-decoration: none;
}

.rno {
  display: inline-block;
  width: 40px;
  color: white;
}

.rno p {
  margin-bottom: 0;
}

header nav .avtar {
  cursor: pointer;
}
header nav .avtar2 {
  cursor: pointer;
  background-color: #1365cf;
}

header .hamburgur {
  display: none;
}

header .extrasearch {
  position: absolute;
  background-color: #fff;
  color: #000;
  top: 50px;
  width: 440px;
}

header .extrasearch a {
  text-decoration: none;
  color: #000;
}

/* drawer sty */
header nav .drawer {
  width: 250px;
}

@media (max-width: 800px) {
  header .hamburgur {
    display: block;
  }
  header nav {
    overflow: hidden;
  }
  header nav .right .nav_btn,
  header nav .right .avtar2,
  header nav .right .avtar {
    display: none;
  }
  header nav .left input {
    width: 150px;
    margin-left: 10px;
  }

  header nav .left input::placeholder {
    visibility: hidden;
  }

  header nav .right .cart_btn {
    margin-right: 0;
  }
}

@media (max-width: 568px) {
  header nav .left input {
    display: none;
  }

  header nav .left .search_icon {
    display: none;
  }
  header nav .navlogo img {
    width: 95px;
    margin-top: 14px;
    margin-left: 67px;
  }
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
